:root {
  font-size: 16px;
  line-height: 1.5;
  --bs-body-bg: #f5f6f8;
}

body {
  line-height: 1;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

input.form-control {
  background: #fff;
}